html, body {
  background: #464646;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: #c3a972;
  font-family: "Russo-One", sans-serif;
}

p,
li,
span,
label,
input,
textarea {
  color: #bfbfbf;
  font-family: "Roboto Mono", monospace;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 56px;
}

h3 {
  font-size: 56px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 56px;
}

h6 {
  font-size: 20px;
}

ul {
  list-style: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.navbar {
  background: #252534;
}

.navbar p {
  color: white;
  padding: 10px 20px;
  margin: 0 0;
}

.navbar a {
  margin: 0;
  padding: 0;
}

.navigation {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.btn {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  background: #43435c;
  -webkit-transform: skewX(-40deg);
          transform: skewX(-40deg);
}

.active, .btn:hover {
  background: #2A2A4a;
  color: #fff;
}

.btn:hover {
  cursor: pointer;
}

.active {
  cursor: default;
}

.s1 {
  background: #464646;
}

.section-wrapper {
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80vw;
      grid-template-columns: 80vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-wrapper .flex {
  padding: 0 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  left: 85vw;
  bottom: 0;
}

.section-wrapper .flex li {
  padding: 15px 0;
}

.icon {
  color: #2A2A4a;
}

.gallery {
  text-align: center;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project {
  padding: 0;
  margin: 0;
  -webkit-box-shadow: 0px 0px 11px 9px #000000;
  box-shadow: 0px 0px 11px 9px #000000;
  width: 75vw;
  max-height: 20vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 2fr;
      grid-template-rows: 1fr 2fr;
  -ms-grid-columns: 1fr 2.5fr;
      grid-template-columns: 1fr 2.5fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/2/3/3;
  max-width: 50vw;
  height: auto;
}

.slideBtn {
  background: none;
  text-decoration: none;
  outline: none;
  border: none;
}

.btn-top {
  padding-bottom: 30px;
}

.btn-btm {
  padding-top: 30px;
}

.submit-btn {
  margin-top: 10px;
  width: 100%;
  padding: 10px 0;
  color: #c3a972;
  background-color: #2A2A4a;
  border: none;
}

.input {
  width: 100%;
  padding: 10px 0;
  background-color: #bfbfbf;
  border: 1px solid #C1C1C1;
}

.contact {
  color: black;
  max-width: 600px;
  margin: 0 auto;
  border: 2px solid #C1C1C1;
  padding: 15px;
  border-radius: 2px;
  background-color: #464646;
}

.contact label {
  line-height: 2.7em;
}

.contact textarea {
  min-height: 100px;
  font-size: 14px;
}

.btn {
  outline: 2px solid white;
}

@media (max-width: 768px) {
  .container {
    margin: 0 auto;
    overflow: auto;
    padding: 0 20px;
  }
  .navbar .flex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navigation {
    padding: 0;
  }
  .section-wrapper {
    position: absolute;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 9fr 1fr;
        grid-template-rows: 9fr 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-wrapper .flex {
    padding: 0 10px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: fixed;
    left: 0;
    -webkit-transform: translate(50%);
            transform: translate(50%);
    bottom: 2em;
  }
  .section-wrapper .flex li {
    padding: 15px 20px;
  }
}
/*# sourceMappingURL=style.css.map */